.GanttChart {
  .Disabled {
    color: silver;
    background-color: #ddd;
  }
}

// .XAxis {
//   display: none !important;
// }

.highcharts-axis-line {
  &:first-child {
    display: none !important;
  }
}
