.Campaign {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  .Header {
    width: 100%;
  }

  .Background {
    position: fixed;
    z-index: -1;
    background: url("../../assets/background/roadmap.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
  }

  .Content {
    margin: 0 15px;
    padding: 0 30px;
    width: 100%;
    max-width: 76vw;
    overflow-y: auto;
  }
}
