.StatusContainer {
  background-color: rgba($color: #262d3f, $alpha: 0.5);
  height: 100%;
  border-radius: 10px;
  overflow: hidden;

  .StageContent {
    display: flex;
    overflow-x: auto;
    padding: 20px
  }
}
